.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.nav-link {
  color: #fff;
  text-decoration: none;
}


.playBtn {
  font-size: 3em !important;
  margin: 5px !important;
}

.result_field {
  font-size: 1.5em !important;
}

a:visited {
  color: #fff;
  text-decoration: none;
}