/* 

@font-face {
  font-family: "coder";
  src: local("coder"),
    url(./assets/fonts/PressStart2P-Regular.woff) format("woff");
}

body {
  margin: 0;
  background-color: #02c692 !important;
  font-family:  "coder", "Roboto", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

 /* Add this CSS in your global CSS or a CSS file imported in your project */
@keyframes matrixRain {
  0% {
    opacity: 0.7;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.matrixRain {
  font-family: "Courier New", monospace;
  font-size: 16px;
  color: #00ff33;
  position: fixed;
  opacity: 0.2;
  z-index: -1000;
  animation: matrixRain 1s linear infinite;
}

